@model PaginatedResponse<NhatKySanXuat>
@{
    ViewData["Title"] = "Danh sách nhật ký sản xuất";
    var data = new ViewDataDictionary(ViewData)
    {
        {
            "ActionName", "DanhSachNhatKySanXuat"
        },
        {
            "ControllerName", "NhatKySanXuats"
        }
    };
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Danh sách nhật ký sản xuất</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a class="btn btn-success" asp-action="ThemMoiNhatKySanXuat" asp-controller="NhatKySanXuats">Thêm nhật ký sản xuất mới</a>
    </div>
    <div class="d-flex">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-action="DanhSachNhatKySanXuat" asp-controller="NhatKySanXuats">
            <div class="input-group">
                <input name="search" type="text" class="form-control bg-light border-0 small" placeholder="Tìm theo tên vật tư ..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit">
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @await Html.PartialAsync("_PaginationPartial", Model, data)
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên vật tư</th>
                        <th>Số lượng sử dụng</th>
                        <th>Kho sử dụng</th>
                        <th>Khu vực nuôi trồng</th>
                        <th>Ngày sử dụng</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                @{
                    foreach (var item in Model.Items)
                    {
                        var maKV = @item.MaNhatKySanXuat;
                        <tbody>
                            <tr>
                                <td>@item.TenVatTu</td>
                                <td>@item.SoLuongSuDung</td>
                                <td>@item.KhoVatTu.TenKho</td>
                                <td>@item.KhuVuc.TenKhuVuc</td>
                                <td>@item.NgaySuDung.ToString("dd-MM-yyyy")</td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Sua" asp-controller="NhatKySanXuats" asp-route-id="@item.MaNhatKySanXuat">Sửa</a>
                                    <a class="btn btn-danger" asp-action="Xoa" asp-controller="NhatKySanXuats" asp-route-id="@item.MaNhatKySanXuat">Xóa</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                }
            </table>
        </div>
    </div>
</div>
